.br-copier-wrapper,
.input-group {
  display: flex;
  justify-content: space-between;
  margin: auto auto 1.5rem;
  max-width: calc(140px + 3rem + 490px + 70px + 0.25rem);
}

.br-copier-wrapper {
  padding: 0.75rem;
}

.input-group {
  user-select: none;
}

.br-copier-wrapper {
  flex-direction: column;
  gap: 1rem;
}

.br-copier-wrapper__copier {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.br-copier__buttons {
  display: flex;
  gap: 0.25rem;
}

.br-copy-btn,
.bookmark-btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.4s;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.br-copy-btn {
  flex: 1 1 0;
  background-color: deeppink;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.125rem;
}

.br-copy-btn:hover {
  background-color: #3677d867;
}

.bookmark-btn {
  background-color: #ffb300;
  width: 66px;
  border: 1px solid #bd8300;
  color: #000;
  position: relative;
  align-self: center;
}

.bookmark-btn:hover {
  background-color: #000;
  color: #bd8300;
}

.bookmark-btn__share-link-wrapper {
  position: absolute;
  padding: 1rem;
  border-radius: 0.325rem;
  background-color: #222;
  color: #fff;
  z-index: 10;
  right: -10px;
  top: calc(100% + 4px);
  transform: translateY(-15%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, box-shadow 0.7s, opacity 0.4s, transform 0.4s;
}

.bookmark-btn:hover > .bookmark-btn__share-link-wrapper {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  box-shadow: 0 0 10px 2px #bd8300, 0 0 20px 4px #ffffff, 0 0 30px 8px #000;
}

.share-link-wrapper__link-container {
  display: flex;
  margin: 0.5rem auto;
  gap: 0.125rem;
}

.link-container--link-holder-input {
  font-size: inherit;
  outline: none;
}

.link-container--cpy-btn {
  border: none;
  border-radius: 0.25rem;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.75rem;
  padding: 0.375rem;
}

.link-container--cpy-btn:hover {
  background-color: #fff;
  box-shadow: 0 0 4px 2px #000, 0 0 6px 4px #fff;
}

.br-value-container {
  background-color: #ccc;
  color: black;
  padding: 1rem;
  text-align: center;
  display: inline-block;
  font-family: monospace;
  border-radius: 0.125rem;
  display: grid;
  place-content: center;
}

.share-link-wrapper__socials-share-list {
  display: flex;
  gap: 0.375rem;
  align-items: center;
  padding: 0.375rem 0.125rem;
  scroll-behavior: smooth;
  overflow-x: auto;
  max-width: 315px;
}

.input-group__switch {
  position: relative;
  background-color: white;
  width: 3rem;
  height: 1.25rem;
  margin-left: 0.25rem;
  padding: 0.125rem 0.25rem;
  box-sizing: border-box;
  border-radius: 0.625rem;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
}

.input-group__switch::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 0.125rem;
  border-radius: 50%;
  background-color: #aaa;
  box-sizing: border-box;
  transition: all 0.3s;
}

.switch-input:checked + .input-group__switch::after {
  transform: translateX(calc(3rem - 0.25rem - 1rem));
  background-color: deeppink;
  transition: all 0.3s;
}

.input-group__switch-container {
  padding: 0.25rem 0.5rem;
  flex: 0 0 175px;
}

.input-group__size-customization-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  gap: 1rem;
}

.input-group__size-customization-wrapper > * {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-group input[type="number"] {
  padding: 0.125rem;
  font-size: inherit;
  width: 3.5rem;
  margin-left: 0.25rem;
}

.footer-container {
  width: 95%;
  border-top: 2px solid grey;
  margin: 6rem auto auto;
  padding: 1rem;
  border-radius: 3px;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}

.footer-content {
  text-transform: uppercase;
  color: #f5f5f5;
}

.footer-content--copyright-symbol,
.footer-content__author-heading {
  margin: 0 0.25rem;
}

.footer-content__author-heading {
  display: inline-block;
  font-size: inherit;
}

@media (min-width: 700px) {
  .input-group__size-customization-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 750px) {
  .br-copier-wrapper__copier {
    flex-direction: row;
    gap: 0;
  }

  .br-value-container {
    flex: 8 1 0;
    border-radius: 0.125rem 0 0 0.125rem;
  }

  .br-copy-btn {
    border-radius: 0 0.125rem 0.125rem 0;
  }
}

@media (min-width: 800px) {
  .br-copier-wrapper {
    padding: 0;
    flex-direction: row;
    align-items: center;
  }
}
